.user_wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
input {
  font-size: 2rem;
}
.user_card {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  border: 1px solid #0e0e0d;
}
.card {
  border: 1px solid #0e0e0d;
  margin-top: 2rem;
}
label {
  background-color: aqua;
  width: max-content;
}
.hide {
  display: none;
}
